<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Cloudlance - Integrated tool that enhance your freelance business">
	<meta name="author" content="Cloudlance">
	<title>Cloudlance</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/site.css">
	<link rel="stylesheet" type="text/css" href="css/mediaq.css">
	
	<link rel="shortcut icon" href="img/frontend/favicon.ico" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


  <style type="text/css">
    .gradient {
       filter: none;
    }

    <![endif]-->

    <script src="js/jquery-2.1.0.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/site.js"></script>


</head>
<body>

	<div class="topBar">
		<div class="logo"></div>
		<div class="responsiveBtn"></div>

		<nav class="topMenu">
			<div class="menuHolder">
				<div class="menuItem"><a href="#">About Us</a></div>
				<div class="menuItem"><a href="#">Features</a></div>
				<div class="menuItem"><a href="#">FAQs</a></div>
				<div class="menuItem"><a href="#">Pricing</a></div>		
			</div>

			<div class="btnCloudlance"> Login</div>

		</nav>

	</div>

	<section class="sectionHeaderAbout">
		<h2 style=" text-align: center;padding-top: 162px;">We develop services aimed to help freelancers.</h2>
	</section>


	<section class="happy-freelancers" style="background-color:white">
		
		<div class="contact-us-holder">
			
			<div class="contact-column">
				<h1>About us</h1>

				<p>Focused at providing useful services, and pursuing the ideal to create a purposeful company, we founded BO Partners Inc in late 2013.</p>

				<p>We imprinted the values we expect from a company that would provide services and defined the kind of culture we wanted to see in action.</p>

				<p>We have worked extensively at developing the basis for our startup. We are proud of our values and the way we conduct business.</p>

				<p>We believe in respect for others and we try to show this as a company in every interaction, in every task, with everyone both in and out of our company.</p>

			</div>
			<div class="contact-column">
				<h1>Our values</h1>
				<p>
					<span class="higlight-about">FOCUSED, USEFUL & RELIABLE</span><br/>
					We concentrate on what we do better. Oustanding service, simple and helpful
					interactions, reasonable pricing and respect for your time, money and trust.
				</p>
				<p>
					<span class="higlight-about">PASSIONATE & COLLABORATIVE</span><br/>
					Our crew work help you to conquer your challenges.  We believe that passion,
					as well as a positive and optimistic attitude, inspire others.
				</p>
				<p>
					<span class="higlight-about">ENTHUSIAST & COURAGEOUS</span><br/>
					We love to help, even if it means questioning current structures. We embrace
					change, continuous learning is the way to deliver an oustanding service.
				</p>
				<p>
					<span class="higlight-about">ETHICAL & RESPECTFUL</span><br/>
					We provide our service with integrity, building our relationships on trust and mutual
					respect. We treat you the same way we want to be treated.
				</p>
			</div>
		</div>

	</section>

	<div class="separador footer" align="center">
		<div class="separadorItem">Sign up to our beta version and help us</div>
		<div class="separadorItem">
			<input type="text" id="beta-activation-email" placeholder="yourname@domain.com" />
			<div class="btnCloudlance"> Sign up</div>
		</div>
	</div>
	<footer>
		<div class="footer-columns-holder" align="center">
			<div class="footer-column" align="left">
				<div><img src="images/bop_logo.png" /></div>
				<div class="msg-contact-us">
					We would love to hear from.<br/>
					Let’s have a talk.
				</div>
				<div class="btnCloudlance footer">Contact Us</div>
			</div>
			<div class="footer-column" align="left">
				<div class="footer-social">
					<div class="social-icon linkedin"></div>
					<div class="social-icon twitter"></div>
					<div class="social-icon facebook"></div>
				</div>
				<ul>
					<li><a href="#">About us</a></li>
					<li><a href="#">Features</a></li>
					<li><a href="#">FAQs</a></li>
					<li><a href="#">Plans & Pricing</a></li>
					<li><a href="#">Terms & Privacy</a></li>
					<li><a href="#">Blog</a></li>
				</ul>

			</div>
			<div class="footer-column" align="right">
				<div class="btnCloudlance" style="display:inline-block"> Login</div>
				<br/>
				<p>
					* Complete the form and a Customer Support<br/>
					Assistant will be contacting you shortly.<br/>
					<br/>
					You can also call us at <span style="color: #abd600">(718) 618-6487</span>.
				</p>
			</div>

		</div>
		<div class="copyright">
			© Copyright 2014 - BO Partners
		</div>
	</footer>






</body>
</html>