	
<div class="row">
	<ol class="breadcrumb">
		<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
		<li class="active">Estadistica por Usuario</li>
	</ol>
</div><!--/.row-->

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Lista de Usuarios</h1>
	</div>
</div><!--/.row-->

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nombre Apellido</th>
			<th>Pais</th>
			<th>Fecha de Registro</th>
			<th>Campus Recorrido</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="{WEB_PATH}user-stats/user/69">Guzman Andreatta</td>
			<td>Bosnia</td>
			<td>21/10/2015</td>
			<td>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>Guzman Andreatta</td>
			<td>Bosnia</td>
			<td>21/10/2015</td>
			<td>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>Guzman Andreatta</td>
			<td>Bosnia</td>
			<td>21/10/2015</td>
			<td>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>



